@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background: #CADCFC;
    color:#00246B;
}
.container{
    position: relative;
    bottom: 7rem;


}
.heading{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.inputSection{
    border:2px solid  #00246B;
    border-radius:0.5rem 0.5rem  0.5rem 0.5rem ;
    

}

.resultSection{
    background:  #00246B;
    border-radius: 0.5rem 0.5rem  0.5rem 0.5rem;
}
.convertBtn{
    background:  #00246B;
    width: 100%;
    
    font-size: 1em;
   color: white;
   text-align: center;
   font-weight: bold;
}
.convertBtn>span{
    margin-left: 5px;
    vertical-align: middle;
}
.convertBtn:hover{
   font-size: 1.2em;
   color: white;
   transition: font-size 1s;
}
.card-title{
    font-size: 1.2em;
    font-weight: bold;
    color:  #00246B;
}
#resultValueSection{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#convertedDegree{
    font-size: 2rem;
}
#degree,#convertedUnit{
    font-size: 1.4rem;
    position: relative;
    bottom:1rem
}
input,select{
    border: none;
}
.footer{
    position: fixed;
    width: 100%;
    background: #00246B;
    height: 10rem;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 2rem;
}
.footer img{
    display: inline-block;
    width: 5%;
    aspect-ratio: 3/2;
    object-fit: contain;
 
    
}

.info a{

    text-decoration: none;
    text-align: center;
    color: #CADCFC;
    font-size: 0.7em;
}
.term a{

    text-decoration: none;
    color: #CADCFC;
    font-size: 0.7em;
    text-align: center;
}
.dot{
    color: lightgray;
    
}
p{
    color: lightgray;
    font-size: 0.6rem;
    margin-top: 4px;
}
